- content_for(:head) do
  = javascript_include_tag 'jquery.jfeed.js'
  = javascript_include_tag 'common'
  = javascript_include_tag 'admin/dashboard'

.row
  #summary.panel
    %h4= t('.whats_going_on')
    .panel_row.content
      %h5= t('.content')
      %ul
        %li= link_to t('.posts', :posts_count => @stats.post_count), admin_posts_path
        %li= link_to t('.tags', :tags_count => @stats.tag_count), admin_tags_path
    .panel_row.discussion
      %h5= t('.discussion')
      %ul
        %li= link_to t('.comments', :comments_count => @stats.comment_count), admin_comments_path

  #recent-comments.panel
    %h4= t('.latest_comments')
    %ul
      - @comment_activity.each do |activity|
        - activity.comments.each do |comment|          
          %li
            .panel_title= raw t('.comment_title', :from => link_to(comment.author), :post_title => link_to(comment.post.title, post_path(comment.post)))
            = raw truncate(comment.post.body, :length => 50)

.row
  #quick_post.panel
    %h4= t('.quick_post')
    = simple_form_for [:admin, Post.new] do |f|
      = f.input :title, :required => false
      = f.input :markdown, :required => false, :label => Post.human_attribute_name(:content)
      = f.input :tag_list, :as => :string
      = f.submit t('.quick_save')
  #drafts.panel
    %h4= t('.drafts')

  #recent-posts.panel
    %h4= t('.latest_posts')
    %ul
      - @posts.each_with_index do |post, i|
        %li
          .panel_title= link_to truncate(post.title, :length => 50), admin_post_path(post)
          %span.date= l post.published_at, :format => :short
          %span.count= link_to post.approved_comments.size, post_path(post)
