= content_for(:head) do
  = javascript_include_tag('admin/posts.js')

%h1= t('.title')

%table{:cellpadding => 0}
  %tr
    %th.title= Post.human_attribute_name :title
    %th= Post.human_attribute_name :created_by
    %th= Post.human_attribute_name :excerpt
    %th= image_tag "/images/comment.png"
    %th.tags= Tag.model_name.human(:count => :other)
    %th= Post.human_attribute_name :actions
    %th= Post.human_attribute_name :published_at
  - if @posts.empty?
    %tr
      %td{:colspan => 6}= t('.no_posts')
  - else
    = render @posts
  
  %tfoot
    - if @posts.total_pages > 1
      %tr.pagination
        %td{:colspan => 6}= will_paginate @posts
