%h1= t('.title')

- if @setting.new_record?
  #dialog= t('.no_settings_set')
  
= simple_form_for @setting, :url => admin_settings_path do |f|
  = f.input :title
  = f.input :description
  
  = f.submit t('.save')
