%h2.post_header
  = link_to post.title, post_path(post)
  %span.author Test
  %span.date= l(post.published_at, :format => :short)
.meta
  %ul
    %li
    %li.comments= link_to pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => "comments")
    - unless post.tags.empty?
      %li.tags= t('.tagged_with', :tag_list => linked_tag_list(post.tags))

.entrybody
  :markdown
    #{raw post.body_html}