- content_for :page_title do
  = posts_title(@tag)
-content_for :head do
  = auto_discovery_link_tag(:atum, @tag.nil? ? formatted_posts_path(:format => :atom) : posts_path(:tag => @tag, :format => :atom))

- if @posts.empty?
  %p= t('.no_posts')
- else
  - @posts.each do |post|
    %div{:class => "post post-#{post.id}"}= render post
    - if more_content?
      .related= raw t('.more_related', :related_link => link_to(t('.archives'), archives_path))
