!!!
%html{:dir => 'ltr', :lang => "en-NL"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}
    %title=yield(:page_title) || enki_config[:title]
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'application'
    = javascript_include_tag 'highlight'
    = # TODO Remove this?
    = open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation]
    
  %body
    #notice
    -flash.each do |name, msg|
      %div(id="flash_#{name}")=msg
      
    - if User.current?
      #admin_navigation= render :partial => "shared/admin_menu"
    #master
      #wrapper
        #content.admin=yield
        .push
    #footer= raw "Extended #{link_to "Enki"} by the #{link_to "Agile Pandas", "http://agile-pandas.com"}"