!!!
%html{:dir => 'ltr', :lang => "en-NL"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}
    %title=yield(:page_title) || enki_config[:title]
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'application'
    = javascript_include_tag 'highlight'
    
  %body
    / #title_header
    /   = link_to enki_config[:title], root_url, :id => "blog_title"
    - if User.current?
      #admin_navigation= render :partial => "shared/admin_menu"
    #navigation= render :partial => "shared/menu"
    #master
      #wrapper
        #main
          #content=yield
          #side
            = link_to enki_config[:title], root_url, :id => "blog_title"
            This is the blog description and this will be replaced with a site configuration, just like all the other
            enki_config stuff. So this should be marked as a TODO
          .push
    #footer= raw "Extended #{link_to "Enki"} by the #{link_to "Agile Pandas", "http://agile-pandas.com"}"